@model PL.Models.Service
@{
    ViewData["Title"] = "Service Creating";
    Layout = "_Layout";
}
<form asp-action="CreateService" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <div><span asp-validation-for="Title" class="text-danger"></span></div>
        <input asp-for="Title" class="form-control" maxlength="100" required/>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <div><span asp-validation-for="Description" class="text-danger"></span></div>
        <input type="text" asp-for="Description" class="form-control" maxlength="200" required/>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" max="100000"  min="0.01" required/>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="ServicesList" class="btn btn-secondary">Cancel</a>
    </div>
</form>