@model PL.Models.Componet
@{
    ViewData["Title"] = "Componet creating";
    Layout = "_Layout";
}
<form asp-action="CreateComponent" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <div><span asp-validation-for="Title" class="text-danger"></span></div>
        <input asp-for="Title" class="form-control" maxlength="100" required />
    </div>
    <div class="form-group">
        <label asp-for="ProductionStandards"></label>
        <div><span asp-validation-for="ProductionStandards" class="text-danger"></span></div>
        <input asp-for="ProductionStandards" class="form-control" maxlength="100" required />
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" min="0.01" max="100000" required />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="ComponentList" class="btn btn-secondary">Cancel</a>
    </div>
</form>