@model PL.Models.Componet
@{
    ViewData["Title"] = "Edit component";
    Layout = "_Layout";
}
<form asp-action="EditComponent" asp-controller="Master" method="post">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <div><span asp-validation-for="Title" class="text-danger"></span></div>
        <input asp-for="Title" class="form-control" required maxlength="100" />
    </div>
    <div class="form-group">
        <label asp-for="ProductionStandards"></label>
        <div><span asp-validation-for="ProductionStandards" class="text-danger"></span></div>
        <input asp-for="ProductionStandards" class="form-control" required maxlength="100" />
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" required />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="ComponentList" class="btn btn-secondary">Cancel</a>
    </div>
</form>
