@{ 
    ViewData["Title"] = "Admin Menu";
    Layout = "_StartMenuLayout";
}
<div class="text-danger" asp-validation-summary="All"></div>

<a class="btn btn-block btn-danger justify-content-center"
   asp-action="ServicesList"
   asp-controller="Master">
    Edit services
</a>

<a class="btn btn-block btn-danger justify-content-center"
   asp-action="ComponentList"
   asp-controller="Master">
    Edit components
</a>

<a class="btn btn-block btn-danger justify-content-center"
   asp-action="BuildStandardsList"
   asp-controller="Master">
    Edit operations list
</a>
<a class="btn btn-block btn-danger justify-content-center"
   asp-action="ChangeableOrderList"
   asp-route-masterId="@ViewBag.Data"
   asp-controller="order">
    View the list of orders
</a>