@model PL.Models.ModelsForView.TimeInterval
@{
    Layout = "_Layout";
}
<div asp-validation-summary="All"></div>
<div id="10" style="width:100%;" class="text-center">
    <h2>Information about consumer needs</h2>
</div>
<div class="row container">
    <div class="col-md-6">
        <canvas id="myChart"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="compChart"></canvas>
    </div>
</div>
<div style="height: 250px; width: 100%;">
</div>
<div class="container text-center" style="margin-bottom: 50px">
    <form asp-action="ProfitByWorkers">
        <div asp-validation-summary="All"></div>
        <div class="form-group mx-auto">
            <label asp-for="From"></label>
            <input type="date" asp-for="From" />
        </div>
        <div class="form-group mx-auto">
            <label asp-for="To"></label>
            <input type="date" asp-for="To" />
        </div>
        <button type="submit" class="btn btn-primary col-md-5">
            Apply a filter
        </button>
        <button type="submit" class="btn btn-primary col-md-5" asp-action="StartMenu" asp-controller="Admin">
            Go back
        </button>
    </form>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/Chart.js/chart.js"></script>
    <script src="~/Chart.js/chart.min.js"></script>


    <script>

            var labelsA = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ST));
            var labelsB = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.CT));
            var dataA = {
                labels: labelsA,
                datasets: [{
                    label: 'Number of services ordered',
                    backgroundColor: ['#CB4335', '#1F618D', '#F1C40F', '#27AE60', '#884EA0', '#D35400', '#0000FF', '#48D1CC','#FFE4B5'],
                    borderWidth: 1,
                    data:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.SC)),
                }]
        };
         var dataB = {
             labels: labelsB,
                datasets: [{
                    label: 'Number of components ordered',
                    backgroundColor: ['#CB4335', '#1F618D', '#F1C40F', '#27AE60', '#884EA0', '#D35400', '#0000FF', '#48D1CC','#FFE4B5'],
                    borderWidth: 1,
                    data:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.CC)),
                }]
            };

        var configA = {
            type: 'pie',
                data: dataA,
                options: {}
        };
        var configB = {
            type: 'pie',
            data: dataB,
            options: {}
        };

        var ctxA = document.getElementById('myChart');
        var ctxB = document.getElementById('compChart');
        var sCgart = new Chart(ctxB,
            configB);
        var myChart = new Chart(
            ctxA,
            configA
        );

        ctxA.parentNode.style.height = '300px';
        ctxB.parentNode.style.height = '300px';
    </script>
}