@{
    Layout = "_ViewStart";
}
@RenderBody()


<div class="row" style="position: absolute; bottom:100px; width:88%">
    <div class="col-sm-8"></div>
    <a class="btn btn-primary col-sm-2" asp-controller="Acount" asp-action="RoleChoosing">Change Role</a>
</div>