@model PL.Models.BuildStandart
@{
    ViewData["Title"] = "Making an Order";
    Layout = "_Layout";
}
<form asp-action="SaveOrder" method="post">
    <div class="form-inline form-group mb-5">
        <label class="col-sm-5"><strong>Select the customer: </strong></label>
        <select required id="client" class="col-sm-7" name="customerId" asp-items="@(new SelectList(ViewBag.Client,"Id","Title"))"></select>
    </div>

    <div class="form-group form-inline text-center mb-5 mt-4">
        <label class="col-sm-5"><strong>Select the master: </strong></label>
        <select required name="masterId" class="col-sm-7" asp-items="@(new SelectList(ViewBag.Master,"Worker.PassportNumber","Worker.PersonalData"))"></select>
    </div>

    <input type="hidden" name="managerId" value="@ViewBag.ManagerId" />

    <div class="form-inline form-group mb-5">
        <label class="col-sm-5">
            <strong>
                Enter start date
            </strong>
        </label>
        <input type="date" name="startDate" required class="col-sm-7" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="CancelOrder" class="btn btn-secondary">Cancel</a>
    </div>
</form>