@model PL.Models.BuildStandart
@{
    ViewData["Title"] = "Making an Order";
    Layout = "_Layout";
}
<h2 class="text-lg-center">
    Order saved
</h2>
<a asp-controller="Manager" asp-action="StartMenu" class="btn-link text-lg-center">
    Go back to the manager menu
</a>