@model List<Client>
@{
    ViewData["Title"] = "Clients list";
    Layout = "_ManagerLayout";
}
<div class="text-danger" asp-validation-summary="All"></div>
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-center">Title</th>
        <th class="text-center">Contact information</th>
        <th class="text-center">Actions</th="text-right">
    </tr>
    @foreach (var item in Model)
     {
        <tr>
            <td class="text-center">@item.Title</td>
            <td class="text-center">@item.ContactInformation</td>
            <td class="text-center">
                <form asp-action="DeleteComponent" method="post">
                    <a asp-action="EditClient" class="btn btn-sm btn-warning"
                       asp-route-clientId ="@item.Id">
                       Edit
                    </a>
                    <input type ="hidden" name="clientId" value="@item.Id"/>
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
     }
</table>
<div class="text-center">
    <a asp-action="CreateClient" class="btn btn-primary">
        Add new client
    </a>
 </div>