@model System.String
@{
    ViewData["Title"] = "Admin Menu";
    Layout = "_StartMenuLayout";
}
<div class="text-danger" asp-validation-summary="All"></div>

<a class="btn btn-block btn-danger justify-content-center"
   asp-action="EditWorkersInformation"
   asp-controller="Admin"
   asp-route-returnurl="@ViewContext.HttpContext.Request.Path">
   Edit workers information
</a>
